!!!
%html
	%head
		%title グラコロ同盟 #{@year}
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css', media: 'all'}
		%link{rel: 'icon', href: '/img/gracoro20x20.png'}
		%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'}
		%script{src: 'http://widgets.twimg.com/j/2/widget.js'}
	%body
		#fb-root
		:javascript
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=135896593126567';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		%h1
			%img{src: "/img/gracoro_union#{@year}.jpg", alt: "グラコロ同盟#{@year}"}
		#header
			#description
				!= haml "archive#{@year}".to_sym
		#main
			#ranking{class: 'archive'}
				%h2 #{@year}年シーズンのランキング
				%ol
					- ranking_archive( @year ) do |person, index|
						%li{class: 'show'}
							%a{href: "http://twitter.com/#{person['name']}"}
								%img{src: person['icon']}
							%div
								- person['count'].times do |i|
									%img{src: '/img/gracoro20x20.png', alt: ''}
								%span= person['count']
		!= haml :footer

-# Copyright (C) 2012 by TADA Tadashi <t@tdtds.jp>
